name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [14]

    name: Node ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Install Node dependencies
        run: yarn --frozen-lockfile

      - run: yarn lint
      - run: yarn build

      - name: Test coverage
        run: yarn jest test/ --collectCoverage=true

      - run: yarn build:examples-only
      - run: yarn check:examples

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.6.0
        if: ${{ matrix.node == 14 }}
